{% load bootstrap5 %}

<div class="card my-3 col-12 col-md-6">
    
    <div class="card-header">
        {% if post.user.profile_image %}
            <img src="{{ post.user.profile_image.url }}" alt="" class="rounded-circle" width="30px">
        {% else %}
            <img src="/media/profile/default.jpeg" alt="" class="rounded-circle" width="30px">
        {% endif %}

        <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">{{ post.user }}</a>

        {% if user == post.user %}
        <a href="{% url 'posts:update' id=post.id %}">Update</a>
        <a href="{% url 'posts:delete' id=post.id %}">Delete</a>
        {% endif %}
    </div>

    <img src="{{ post.image.url }}" alt="">

    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
    </div>

    <div>
        {% if post.comment_set.all|length != 0 %}
            <hr>
        {% endif %}
    </div>
    
    {% for comment in post.comment_set.all %}
    <p style="margin-bottom: 3px;">
        {{ comment.user }} : {{ comment.content }}
    </p>
    {% if user == comment.user %}
    <a href="{% url 'posts:comment_delete' post_id=post.id id=comment.id %}">Delete</a>
    {% endif %}
    {% endfor %}
    
    {% if user.is_authenticated %}
        <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    {% endif %}

</div>