{% load bootstrap5 %}

<div class="card my-3 col-12 col-md-5 mx-2">
    
    <div style="display: flex; flex-direction: row; justify-content: space-between;" class="card-header">
        <div>
            {% if post.user.profile_image %}
            <img src="{{ post.user.profile_image.url }}" alt="" class="rounded-circle" width="30px">
            {% else %}
            <img src="/media/profile/default.jpeg" alt="" class="rounded-circle" width="30px">
            {% endif %}
            
            <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">{{ post.user }}</a>
        </div>
            
        {% if user == post.user %}
        <div>
            <div>
                <a href="{% url 'posts:update' id=post.id %}">Update</a>
                <a href="{% url 'posts:delete' id=post.id %}">Delete</a>
            </div>
        </div>
        {% endif %}
    </div>

    <img src="{{ post.image.url }}" alt="">

    <div class="card-body">
        {% if user in post.like_users.all %}
            <i class="bi bi-heart-fill heart" style="color:red" data-post-id="{{ post.id }}">{{ post.like_users.all|length }}</i>
        {% else %}
            <i class="bi bi-heart heart" data-post-id="{{ post.id }}">{{ post.like_users.all|length }}</i>
        {% endif %}
        명이 좋아합니다.
        <p class="cart-text">{{ post.content }}</p>
    </div>

    <hr>

    <ul id="comment-list-{{ post.id }}">
    {% for comment in post.comment_set.all %}
        <div style="margin-bottom: 3px; background-color: rgb(247, 247, 247); display: flex; flex-direction: row; justify-content: space-between;">
            <div style="margin-bottom: 3px;">{{ comment.user }} : {{ comment.content }}</div>
            <div class="card-body" style="margin-left: auto;">
                {% if user in comment.like_users.all %}
                <i class="bi bi-heart-fill comment_heart" style="color:red" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}" onclick="comment_likeRequest(this, '{{ post.id }}', '{{ comment.id }}')">{{ comment.like_users.all|length }}명이 좋아합니다.</i> 
                {% else %}
                <i class="bi bi-heart comment_heart" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}" onclick="comment_likeRequest(this, '{{ post.id }}', '{{ comment.id }}')">{{ comment.like_users.all|length }}명이 좋아합니다.</i>                
                {% endif %}
                
                {% if user == comment.user %}
                <a href="{% url 'posts:comment_update' post_id=post.id id=comment.id %}" class="btn btn-light">Update</a>   
                <button style="text-align: right;" class="btn btn-light" onclick="commentDelete('{{post.id}},{{comment.id}}');">Delete</button>
                {% endif %}
            </div> 
          
            <ul id="reply-list-{{ post.id }}-{{ comment.id }}">
                <style>div.in {text-indent: 5px;}</style>
            {% for reply in comment.reply_set.all %}
                    <div class="in">{{ reply.user }} : {{ reply.content }}
                {% if user == reply.user %}
                    <button onclick="replyDelete('{{post.id}},{{comment.id}},{{reply.id}}');">Delete</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#replyModal{{ post.id }}-{{ comment.id }}-{{ reply.id }}">Update</button>
                        {% include '_replymodal.html' %}
                {% endif %}
                    </div>
            {% endfor %}
            </ul>

            <p class="replybutton">답글 달기</p>
            <div class="replyform_div" style="display: none;">
                {% if user.is_authenticated %}
                <form action="{% url 'posts:reply_create' post_id=post.id comment_id=comment.id %}" method="POST" class="reply-Form">
                    {% csrf_token %}
                    {{ reply_form }}
                    <input type="submit">
                </form>
                {% endif %} 
            </div>
        </div>
    {% endfor %}
    </ul>


    {% if user.is_authenticated %}
    <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST" class="comment-Form">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    
    <hr>

</div>