{% load bootstrap5 %}

<div class="card my-3 col-12 col-md-6">
    
    <div style="display: flex; flex-direction: row; justify-content: space-between;" class="card-header">
        <div>
            {% if post.user.profile_image %}
            <img src="{{ post.user.profile_image.url }}" alt="" class="rounded-circle" width="30px">
            {% else %}
            <img src="/media/profile/default.jpeg" alt="" class="rounded-circle" width="30px">
            {% endif %}
            
            <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">{{ post.user }}</a>
        </div>
            
        {% if user == post.user %}
        <div>
            <div>
                <a href="{% url 'posts:update' id=post.id %}">Update</a>
                <a href="{% url 'posts:delete' id=post.id %}">Delete</a>
            </div>
        </div>
        {% endif %}
    </div>

    <img src="{{ post.image.url }}" alt="">

    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
        <hr>
        {% if post.comment_set.all|length == 0 %}
        <p>댓글이 없습니다.</p>
        {% endif %}
        
        
        {% for comment in post.comment_set.all %}
        {% if user == comment.user %}
        <div style="margin-bottom: 3px; background-color: rgb(247, 247, 247); display: flex; flex-direction: row; justify-content: space-between;">
        <p>{{ comment.user }} : {{ comment.content }} </p>
        <a style="text-align: right;" href="{% url 'posts:comment_delete' post_id=post.id id=comment.id %}">Delete</a>
        <script>
            function deleteComment(e) {
                const commentId = e.target.href.split("/")[5];
                fetch("/post/<post_id>/comment/<id>/delete", {
                    method: "DELETE",
                })
                .then((response) => {
                    if (response.status === True) {
                        const commentElement = document.querySelector(`#comment-${commentId}`);
                        commentElement.remove();
                    }
                });
            }
            document.querySelectorAll(".delete-comment").forEach((element) => {
                element.addEventListener("click", deleteComment);
                });        
        </script>
    </div>
    {% else %}
    <p style="margin-bottom: 3px;">
        {{ comment.user }} : {{ comment.content }}
    </p>
    {% endif %}
    {% endfor %}
    
    {% if user.is_authenticated %}
    <form id="comment-content" action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    {% endif %}
    </div>

</div>