<div class="modal fade" id="replyModal{{ post.id }}-{{ comment.id }}-{{ reply.id }}" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="replyModalLabel">Update</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
            <div class="mb-3">
                <p>작성자 : {{ reply.user }}</p>
            </div>
            <div class="mb-3">
                <label for="content" class="col-form-label">Content</label>
                <textarea class="form-control replyContent{{ post.id }}-{{ comment.id }}-{{ reply.id }}" id="reply-content">{{ reply.content }}</textarea>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="replyUpdate('{{post.id}},{{comment.id}},{{reply.id}}')">Update</button>
        </div>
        </div>
    </div>
</div>