{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit">

        <!-- <label for="Category-Form" class="form-label">Category</label>
        <select class="form-select" aria-label="Category-Form">
            {% for category in categories %}
            {% if category.id == 1 %}
            <option value="{{category}}" selected>{{category}}</option>
            {% else %}
            <option value="{{category}}">{{category}}</option>
            {% endif %}
            {% endfor %}
        </select>

        <div class="mb-3">
            <label for="Title-Form" class="form-label">Title</label>
            <input type="text" class="form-control" id="Title-Form" placeholder="Title">
          </div>
          <div class="mb-3">
            <label for="Content-Form" class="form-label">Content</label>
            <textarea class="form-control" id="Content-Form" rows="5" placeholder="Content"></textarea>
        </div>

        <div class="mb-3">
            <label class="Image-Form" for="inputGroupFile02">image</label>
            <input type="file" class="form-control" id="Image-Form">
        </div>

        <input type="submit"> -->
    </form>
{% endblock %}
