<article class="m-2 p-1 rounded-2 d-flex" style="border: 2px solid black; flex-direction: column;">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" onclick="showContent('allPosts')">전체</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showContent('allRestaurants')">맛집</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showContent('allhobbies')">취미</a>
            </li>
        </ul>
    </div>

    <div id="allPostsContent" class="content">
      {% include 'blogHome/__allPosts.html' %}
    </div>

    <div id="allRestaurantsContent" class="content" style="display: none;">
        {% include 'blogHome/__allRestaurants.html' %}
    </div>

    <div id="allhobbiesContent" class="content" style="display: none;">
      {% include 'blogHome/__allhobbies.html' %}
  </div>
    
    <nav class="mt-auto">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
</article>


{% include 'blogHome/_allUserPost_js.html' %}