<article class="m-2 rounded-2" style="border: 2px solid black;">
                
    <div class="m-2 rounded-2 d-flex" style="flex-direction: column;">
        <h4>내 이웃의 글</h4>
        <hr class="mt-1">
        <div class="d-flex align-items-center" style="width: 100%;">
            <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdi0GrI%2FbtqyyWdEYM8%2FLbDOJG6QuYVXzFI9AlMq60%2Fimg.png" alt="" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div>
                <p style="font-size: 0.75rem;">아이디</p>
            </div>
        </div>
        <h5 class="fw-bold mt-1">글 제목</h5>
        <p style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
            글 내용 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident odio quae quisquam ullam, vero dolor voluptatem officia nesciunt dignissimos magnam sit enim reiciendis ipsam cupiditate beatae aspernatur ducimus. Sed, aperiam.
        </p>
        <hr class="mt-0">
    </div>

    <nav class="mt-auto">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
</article>