<div class="m-2">
    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" data-bs-toggle="collapse" href="#likeUsers" role="button" aria-expanded="false">
          공감
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#comment" aria-expanded="false">
          댓글
        </button>
      </p>
      <div class="collapse" id="comment">
        <hr>
        <div class="d-flex align-items-center" style="width: 100%;">
            <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdi0GrI%2FbtqyyWdEYM8%2FLbDOJG6QuYVXzFI9AlMq60%2Fimg.png" alt="" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="bg-danger">
                <p style="font-size: 0.75rem;">아이디</p>
            </div>
            <div class="dropdown ms-auto">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">답글달기</a></li>
                    <li><a class="dropdown-item" href="#">수정하기</a></li>
                    <li><a class="dropdown-item" href="#">삭제하기</a></li>
                </ul>
            </div>
        </div>
        <p>댓글 내용 글자 수 제한 해야함</p>
        <hr>
        <div class="ms-2">
            <div class="d-flex align-items-center" style="width: 100%;">
                ㄴ
                <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdi0GrI%2FbtqyyWdEYM8%2FLbDOJG6QuYVXzFI9AlMq60%2Fimg.png" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="bg-danger">
                    <p style="font-size: 0.75rem;">아이디</p>
                </div>
                <div class="dropdown ms-auto">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">답글달기</a></li>
                        <li><a class="dropdown-item" href="#">수정하기</a></li>
                        <li><a class="dropdown-item" href="#">삭제하기</a></li>
                    </ul>
                </div>
            </div>
            <p class="ms-3">댓글 내용 글자 수 제한 해야함</p>
        </div>
        <hr>
      </div>

      <div class="collapse" id="likeUsers">
        <div class="overflow-auto">
            <div class="bg-warning d-flex m-1 float-start" style="height: 30px; width: 200px;">
                <div style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdi0GrI%2FbtqyyWdEYM8%2FLbDOJG6QuYVXzFI9AlMq60%2Fimg.png" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="mx-1">
                    <p style="font-size: 0.75rem;">아이디</p>
                </div>
                <button type="button" class="btn btn-secondary ms-auto" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">이웃추가</button>
            </div>
        </div>
      </div>
</div>