<div class="m-2">
    <p class="d-inline-flex gap-1">
        <div class="btn-group" role="group" aria-label="">
            <button class="btn btn-outline-primary" data-bs-toggle="collapse" href="#likeUsers" role="button" aria-expanded="false">
                공감
            </button>
            <button type="button" class="btn btn-outline-primary">
                {% if user in post.like_users.all %}
                    <i class="bi bi-heart-fill heart align-self-center" style="color:red; font-size: 1rem;" data-post-id="{{ post.id }}">{{ post.like_users.all|length }} </i>
                {% else %}
                    <i class="bi bi-heart heart align-self-center" style="font-size: 1rem;" data-post-id="{{ post.id }}">{{ post.like_users.all|length }} </i>
                {% endif %}
            </button>
        </div>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#comment" aria-expanded="false" aria-controls="comment">
          댓글
        </button>
      </p>

      <div class="collapse" id="comment">
        <hr>
        {% for comment in post.comment_set.all %}

        <!-- comment -->
        <div class="d-flex align-items-center" style="width: 100%;">
            {% if comment.user.profile_image %}
                <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                    <img src="{{ comment.user.profile_image.url }}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            {% else %}
                <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                    <img src="/media/profile/default.jpeg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            {% endif %}
            <div class="mx-2">
                <p class="m-0" style="font-size: 1rem;">{{ comment.user }}</p>
                <p class="m-0" style="font-size: 0.75rem; color: rgb(143, 143, 143);">{{ comment.updated_at }}</p>
            </div>
            <div class="ms-auto my-0 py-0">
                <div class="ms-auto">
                    {% if user == comment.user %}
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#commentModal{{ post.id }}-{{ comment.id }}">수정하기</button></li>
                                <li><button onclick="commentDelete('{{post.id}},{{comment.id}}');" class="dropdown-item" href="#">삭제하기</button></li>
                            </ul>
                        </div>
                        {% include '_commentmodal.html' %}
                    {% else %}
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" style="visibility: hidden;"></button>
                        </div>
                    {% endif %}
                </div>
                <div class="my-0 py-0 me-2">
                    {% if user in comment.like_users.all %}
                        <i class="bi bi-heart-fill comment_heart align-self-center " style="color:red; font-size: 1rem;" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}" onclick="comment_likeRequest(this, '{{ post.id }}', '{{ comment.id }}')">{{ comment.like_users.all|length }}</i> 
                    {% else %}
                        <i class="bi bi-heart comment_heart align-self-center" style="font-size: 1rem;" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}" onclick="comment_likeRequest(this, '{{ post.id }}', '{{ comment.id }}')">{{ comment.like_users.all|length }}</i>                
                    {% endif %}
                </div>
            </div>
        </div>
        
        <p class="mt-2 ms-1">{{ comment.content }}</p>
        <div class="d-flex align-items-center" style="width: 100%;">
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#reply-list-{{ post.id }}-{{ comment.id }}" aria-expanded="false" aria-controls="reply" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .75rem;">답글</button>
        </div>

        <div class="collapse" id="reply-list-{{ post.id }}-{{ comment.id }}">
            {% if user.is_authenticated %}
            <form action="{% url 'posts:reply_create' post_id=post.id comment_id=comment.id %}" method="POST" class="reply-Form">
                {% csrf_token %}
                {{ reply_form }}
                <div class="mt-3 d-flex">
                    <input type="submit" class="ms-auto btn btn-secondary" value="답글 작성">
                </div>
            </form>
            {% endif %}
        </div>
        
        <!-- reply -->
        <div class="ms-2">
            {% for reply in comment.reply_set.all %}
            <div class="d-flex align-items-center" style="width: 100%;">
                ㄴ
                {% if reply.user.profile_image %}
                    <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                        <img src="{{ reply.user.profile_image.url }}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                {% else %}
                    <div class="m-1" style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                        <img src="/media/profile/default.jpeg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                {% endif %}
                <div>
                    <p class="m-0" style="font-size: 1rem;">{{ reply.user }}</p>
                    <p class="m-0" style="font-size: 0.75rem; color: rgb(143, 143, 143);">{{ reply.updated_at }}</p>
                </div>
                {% if user == reply.user %}
                    <div class="dropdown ms-auto">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#replyModal{{ post.id }}-{{ comment.id }}-{{ reply.id }}">수정하기</button></li>
                            <li><button onclick="replyDelete('{{post.id}},{{comment.id}},{{reply.id}}');" class="dropdown-item" href="#">삭제하기</button></li>
                        </ul>
                    </div>
                {% include '_replymodal.html' %}
                {% endif %}

            </div>
            <p class="ms-3">{{ reply.content }}</p>
            {% endfor %}
        </div>
        <hr>
        {% endfor %}

        {% if user.is_authenticated %}
        <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST" class="comment-Form">
            {% csrf_token %}
            {{ comment_form }}
            <div class="mt-3 d-flex">
                <input type="submit" class="ms-auto btn btn-secondary" value="댓글 작성">
            </div>
        </form>
        {% endif %}
      </div>

      <div class="collapse" id="likeUsers">
        <div class="overflow-auto">
            <div class="bg-warning d-flex m-1 float-start" style="height: 30px; width: 200px;">
                <div style="width: 30px; height: 30px; border-radius: 70%; overflow: hidden;">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdi0GrI%2FbtqyyWdEYM8%2FLbDOJG6QuYVXzFI9AlMq60%2Fimg.png" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="mx-1">
                    <p style="font-size: 0.75rem;">아이디</p>
                </div>
                <button type="button" class="btn btn-secondary ms-auto" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">이웃추가</button>
            </div>
        </div>
      </div>
</div>

{% include 'blogDetail/__comment&reply_js.html' %}