<!-- 네비게이션, 반응형 -->
<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <!-- 공간을 가득 채움 -->
    <div class="container-fluid">
        <!-- Home 을 가기 위한 링크 -->
        <a class="navbar-brand" href="{% url 'posts:home' %}">Home</a>
        <!-- 링크를 들어가는 버튼 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- 아이콘 -->
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 콜랩스 -->
        <div class="collapse navbar-collapse" id="navbarNav">
        <!-- 네비게이션 -->
        <ul class="navbar-nav">
            <!-- 네비 내용 목록 -->
            <li class="nav-item"><a class="nav-link" href="#">blog</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">로그인</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a></li>
        </ul>
        </div>
    </div>
</nav> 