<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogMain</title>
    <link rel="stylesheet" href="blogMain.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            네비게이션바
        </div>
    </div>

    <div class="container" style="height: 1000px;">
        <div class="left">
            <div class="container profile">
                프로필
            </div>
            <div class="container post_button">
                게시글 작성 버튼
            </div>
            <div class="container category_list">
                카테고리
            </div>
        </div>
        <div class="right">
            <div class="container category_now">
                현재 카테고리내의 게시글
            </div>
            <div class="container post_list">
                현재 게시물
            </div>    
        </div>
    </div>
</body>
</html>