.container {
    display: flex;
    background-color: beige;
    margin: 0.5em;
}

.nav {
    flex-grow: 1;
    background-color: red;
}

.left {
    display: flex;
    width: 15em;
    flex-direction: column;
    background-color: orange;
}

.profile {
    height: 12em;
    background-color: yellow;
}

.post_button {
    height: 3em;
    background-color: green;
}

.category_list {
    flex: 1;
    background-color:blue;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: violet;
}

.category_now {
    flex: 2;
    background-color: purple;
}


.post_list {
    flex: 8;
    background-color: pink;
}
