.container {
    display: flex;
    background-color: beige;
    margin: 0.5em;
}

.nav {
    flex-grow: 1;
    background-color: red;
}

.add_file {
    flex-grow: 1;
    background-color: orange;
}  

.post_button {
    background-color: yellow;
}

.edit {
    flex: 1;
    height: 85vh;
    background-color: green;
}