.container {
    display: flex;
    background-color: beige;
    margin: 0.5em;
}

.nav {
    flex-grow: 1;
    background-color: red;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: orange;
}

.neighborhood_post_list {
    flex: 3;
    background-color: yellow;
}

.all_post_list {
    flex: 7;
    background-color: green;
}


.right {
    width: 15em;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.account {
    background-color: violet;
}

.post_button {
    background-color:purple;
}

.my_list {
    flex: 1;
    background-color: pink;
}
