<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="blogHome.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            네비게이션바
        </div>
    </div>

    <div class="container" style="height: 1000px;">
        <div class="left">
            <div class="container neighborhood_post_list">
                이웃의 post.list
            </div>
            <div class="container all_post_list">
                모든 유저의 post.list
            </div>
        </div>
        <div class="right">
            <div class="container account">
                프로필
            </div>
            <div class="container post_button">
                게시물 작성 버튼
            </div>
            <div class="container my_list">
                나의 리스트
            </div>    
        </div>
    </div>
</body>
</html>