<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogPost</title>
    <link rel="stylesheet" href="blogPost.css">
</head>
<body>
    <div class="container">
        <div class="container nav">
            네비게이션바
        </div>
    </div>

    <div class="container" style="display: flex;">
        <div class="container add_file">
            글 내용에 첨부할 목록[이미지, 영상, 파일 etc]
        </div>

        <div class="container post_button">
            upload 버튼
        </div>
    </div>

    <div class="container">
        <div class="container edit">
            게시글 작업 공간
        </div>
    </div>
    
</body>
</html>